.navbar {
	background-color: #1E90FF !important;
}
.nav-link, .navbar-brand {
	color:#ffffff;
}
.nav-link:hover {
	color: black;
}
.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}
header { 
		background-color:#6495ED;
		padding:13px;
}
h1 {
	font-family:georgia;
	color:white;
}
table, td, th {
				border:2px solid black;
				border-spacing: 0;
 }
 table {
		width: 80%;
 }

 th {
	font-family: Monaco;
	background-color:#0000FF;
	color:white;
	font-size:22px;
 }
 td {
	 font-family:Verdana;
	 background-color:#A9A9A9;
	 color:#0000FF;
	 font-size:16px;
 }	 
 th, td {
	padding: 20px 30px;
 }
p {
	font-family:Verdana;
	background-color:#FFE4B5;
	color:#191970;
	font-size:22px;
	text-align: center;
	padding: 15px;
}
 input[type=text], select, textarea {
  width: 100%; 
  padding: 5px;
  border: 2px solid black;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 2px; 
  margin-bottom: 16px; 
  resize: vertical
}
input[type=submit] {
  background-color: #0000CD;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #191970;
}


